@charset "UTF-8";

/*
    em HTML é id    = em CSS é # (só pode um elemento)
    em HTML CLASS   = em CSS é . (pode em vários elementos)
*/

body {
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #1e402f;

}

h1#principal {
    text-align: center;
    font-size: 2.5em;
    background-color: #3c805e;
    color: white;

}

h2 {
    color: #3c805e;
}

.basico {
    color: #0feb7d;
}

.intermediario {
    color:#80793c;
}

.avancado {
    color: #cc2525
}

.destaque {
    background-color: #f1f11b70;
}

